<div class="row" id="home_icon">
  <h2>Create the home you've always wanted</h2>
  <div class="col-md-4">
    <i class="fa fa-home fa-5x"></i>
    <h3>Get design ideas</h3>
    <p>Browse more than 5 million photos</p>
  </div>
  <div class="col-md-4">
    <i class="fa fa-smile-o fa-5x"></i>
    <h3>Find home professionals</h3>
    <p>2.5M+ are waiting to help</p>
  </div>
  <div class="col-md-4">
    <i class="fa fa-shopping-cart fa-5x"></i>
    <h3>Shop</h3>
    <p>Over 3 million curated products</p>
  </div>
  <%= link_to(signup_path, class: "btn btn-lg btn-primary") do %>
    Get Started <i class="fa fa-chevron-right"></i>
  <% end %>

</div>
