<div class="row" id="home_disigners">
  <h2>Interior Designers like here</h2>
  <div class="home-recommend">
  <div class="col-md-6 col-md-offset-3">
    <div class="col-md-3">
      <div class="recommend-cover">
        <%= image_tag("designer_1.jpg") %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="recommend-body">
        <i class="fa fa-quote-left"></i>
        "Make something people want."
        <i class="fa fa-quote-right"></i>
        <div class="recommend-user">
          <p><b>申娟</b>   <span>@Sherry</span></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="home-recommend">
  <div class="col-md-6 col-md-offset-3">
    <div class="col-md-3">
      <div class="recommend-cover">
        <%= image_tag("designer_2.jpg") %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="recommend-body">
        <i class="fa fa-quote-left"></i>
        "Stay Hungry. Stay Foolish."
        <i class="fa fa-quote-right"></i>
        <div class="recommend-user">
          <p><b>刘志</b>   <span>@Daniel</span></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="home-recommend">
  <div class="col-md-6 col-md-offset-3">
    <div class="col-md-3">
      <div class="recommend-cover">
        <%= image_tag("designer_3.jpg") %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="recommend-body">
        <i class="fa fa-quote-left"></i>
        "There's a phrase in buddhism, 'beginner's mind.' it's wonderful to have a beginner's mind."
        <i class="fa fa-quote-right"></i>
        <div class="recommend-user">
          <p><b>高圆圆</b>   <span>@Gao Yuanyuan</span></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
